<div class="about">
  <div class="images">
    <div class="image">
      <img src="/assets/about1.jpg">
    </div>
    <div class="image">
      <img src="/assets/about2.jpg">
    </div>
  </div>
  <div class="text-content">
    <div class="text">
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non ornare arcu, id pulvinar turpis. Aenean mattis ornare venenatis. Praesent laoreet feugiat malesuada. In mattis auctor volutpat. Sed non odio quis sem pellentesque pulvinar. Aliquam erat volutpat. Duis enim diam, pulvinar nec erat eu, lacinia aliquet metus. Morbi nec urna posuere, tincidunt dolor a, sollicitudin mauris.
      </p>
      <p>

  Maecenas non fermentum purus, vitae ullamcorper arcu. Nulla vehicula ante risus, at commodo dui lobortis eu. Sed mollis est elit, ac euismod nisi tincidunt ac. Vivamus varius enim aliquet dolor viverra vehicula. Sed commodo ligula eget odio semper, et semper velit venenatis. Nullam id turpis quis sapien tristique rhoncus ut eget leo. Cras blandit velit ligula, in feugiat massa fermentum in. Curabitur vel nisl nec lectus cursus auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Maecenas lobortis, diam in ultrices sodales, ligula felis sodales dui, quis euismod lacus est sit amet est.
      </p>
      <div class="resume">
        <a href="/assets/Rose_resume.pdf">Resume</a>
      </div>
    </div>
  </div>
</div>
