<div class="about main-content">
  <a name="About" class="jump"></a>
  <h3>Bio</h3>
  <div class="images">
    <div class="image">
      <img src="/assets/about1.jpg">
    </div>
    <div class="image">
      <img src="/assets/about2.jpg">
    </div>
  </div>
  <div class="text-content">
    <div class="text">
      {{{about}}}
    </div>
  </div>
  <div class="clear">
  </div>
</div>
