<div class="about">
  <div class="images">
    <div class="image">
      <img src="/assets/about1.jpg">
    </div>
    <div class="image">
      <img src="/assets/about2.jpg">
    </div>
  </div>
  <div class="text-content">
    <div class="text">
      {{{about}}}
      <div class="resume">
        <a href="/assets/Rose_resume.pdf">View Resume</a>
      </div>
    </div>
  </div>
  <div class="clear">
  </div>
</div>
