<div class="centered-area">
  <div class="header">
    <img src="/assets/name_header.png">
    <div class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/music.html">Music</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </div>
  </div>

  <div class="content-body">
  </div>

  <div class="footer">
    Site designed by Mike Rose
  </div>
</div>
