<div class="header">
  <img class="small-name" src="/assets/name.png">
  <img class="composer" src="/assets/composer.png">
  <div class="navbar">
    <ul>
      <!--<li><a href="#Films">Films</a></li>-->
      <li><a href="#Video Games">Games</a></li>
      <li><a href="#About">Bio</a></li>
      <li><a href="http://bandcamp.com/contact?b=71948225&n=Bobby%20Rose&p=https%3A%2F%2Fbobbyrose.bandcamp.com%2F" target="_blank">Contact</a></li>
    </ul>
  </div>

  <ul class="icons">
    <li><a class="imdb icon" target="_blank" href="http://www.imdb.com/name/nm6002060/?ref_=ttfc_fc_cr51"></a></li>
    <li><a class="soundcloud icon" target="_blank" href="https://soundcloud.com/bobby-rose-388454214/sets"></a></li>
    <li><a class="bandcamp icon" target="_blank" href="https://bobbyrose.bandcamp.com/"></a></li>
  </ul>
</div>

<div class="centered-area">
  <div class="content-body">
  </div>

  <div class="footer">
    Site designed by Mike Rose
  </div>
</div>
