<div class="music">
  <ul class="music-list">
    {{#each music}}
    <li>
      <span>{{this.file}}:</span>
      <a class="play" href="{{this.url}}">Play</a>
      <div class='clear'></div>
    </li>
    {{/each}}
  </ul>
</div>
