<div class="music main-content">
  <div class="section music">
    <a name="Music" class="jump"></a>
    <h3>Music</h3>
    <div class="mplayer">
      <h4>Action/Adventure</h4>
      <iframe scrolling="no" frameborder="no"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/270965089&amp;color=0d223e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;buying=false&amp;downloading=false"></iframe>
    </div>
    <div class="mplayer">
      <h4>Emotional/Dramatic</h4>
      <iframe scrolling="no" frameborder="no"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/270967740&amp;color=0d223e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;buying=false&amp;downloading=false"></iframe>
    </div>
    <div class="mplayer">
      <h4>Suspense/Horror</h4>
      <iframe scrolling="no" frameborder="no"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/270967511&amp;color=0d223e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;buying=false&amp;downloading=false"></iframe>
    </div>
    <div class="mplayer">
      <h4>Miscellaneous</h4>
      <iframe scrolling="no" frameborder="no"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/270967357&amp;color=0d223e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;buying=false&amp;downloading=false"></iframe>
    </div>
  </div>
  <div class="section soundtracks">
    <a name="Soundtracks" class="jump"></a>
    <h3>Full Soundtracks</h3>
    <a href="https://soundcloud.com/bobby-rose-388454214/sets/shmadow" target="_blank"><img src="assets/Shmadow.jpg"></a>
    <a href="https://soundcloud.com/bobby-rose-388454214/sets/broadsides" target="_blank"><img src="assets/UnearnedBounty.jpg"></a>
</div>
