<div class="music">
  <ul class="music-list">
    {{#each music}}
    <li>
      <span>{{this.file}}</span>
      <a id="{{this.file}}" href="{{this.url}}"></a>
      <div class='clear'></div>
    </li>
    {{/each}}
  </ul>
</div>
