.about {
  max-width: 750px;
  .images {
    float: left;
    width: 33%;
    @media (max-width: 500px) {
      display: none;
    }

    .image {
      padding-bottom: 20px;

      img {
        margin-top: 10px;
        width: 100%;
      }

      &:last-of-type {
        padding: 0;
      }
    }
  }

  .text-content {
    text-align: left;
    float: right;
    width: 66%;

    .text {
      padding-left: 40px;
    }
    @media (max-width: 500px) {
      width: 100%;

      .text {
        padding: 0 10px;
      }
    }
  }
}
