.about {
  .images {
    float: left;
    width: 33%;

    .image {
      padding-bottom: 20px;

      img {
        width: 100%;
      }

      &:last-of-type {
        padding: 0;
      }
    }
  }

  .text-content {
    text-align: left;
    float: right;
    width: 66%;

    .text {
      padding-left: 40px;

      .resume {
        margin-top: 30px;
        font-size: 12pt;
        text-align: center;

        a {
          font-weight: bold;
          text-decoration: none;
          color: $text-and-links;
          font-size: 14pt;
        }
      }
    }
  }
}
