$dark-gray: #939598;
$light-blue: #3F6BAA;
$lightest-blue: #587BE7;
$dark-blue: #0B213E;
$light-gray: #DADADA;
$aqua: #47AFAE;

$copy: $dark-blue;
$hover: $lightest-blue;
$link: $light-blue;
$foreground: $light-gray;
$background: $dark-blue;
