$dark-gray: #939598;
$light-blue: #3F6BAA;
$dark-blue: #0B213E;
$light-gray: #D1D3D4;
$light-gray: #ACACAC;
$aqua: #47AFAE;

$copy: $dark-blue;
$hover: $aqua;
$link: $light-blue;
$foreground: $light-gray;
$background: $dark-gray;
