.home {
  img {
    margin-top: 57px;
    width: 100%;
  }

  .main-content {
    width: 90%;
    display: inline-table;
  }

  a.jump {
    display: block;
    margin-top: -60px;
    height: 60px;
  }

  @import 'music';
  @import 'about';
}
