body {
  background-color: black;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-width: 720px;

  .centered-area {
    width: 720px;
    margin: auto;
    padding: 0;
    text-align: center;

    .header {
      img {
        height: 115px;
        opacity: 0.75;
      }

      .navbar {
        ul {
          display: table;
          content: " ";
          list-style: none;
          width: 100%;

          li {
            display: block;
            float: left;
            width: 33%;
            margin-right: -1px;
            border-right: 1px solid #202020;

            a {
              display: block;
              color: $text-and-links;
              margin: 0px;
              padding: 10px 0px;
              font-size: 22px;
              font-family: trebuchet ms, arial;
              font-variant: small-caps;
              font-weight: bold;
              text-decoration:none;

              &:hover, &:active {
                @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.05) 100%));
              }
            }

            &:last-of-type {
              border: none;
            }
          }
        }
      }
    }

    .content-body {
      color: $text-and-links;
      overflow: hidden;
      min-height: 480px;

      .main-content {
        display: none;
        @include border-radius(10px);
        background-color: #111;
        padding: 20px;
      }
    }

    .footer {
      margin: 20px;
      text-align: left;
      font-size: 11px;
    }

    ul, li {
      margin: 0;
      padding: 0;
    }

    .clear {
      clear:both;
    }
  }
}
