.music {
  .section-list {
    font-size: 17px;

    h3 {
      margin: 0;
    }

    hr:last-of-type {
      display: none;
    }

    .music-list .song {
      margin: 15px 0;

      .title {
        line-height: 30px;
        @include inline-block;
        float: left;
      }

      a.player {
        float: right;
        margin-right: 120px;
      }

      .mbMiniPlayer {
        opacity: 0.3;
      }

      .description {
        padding: 10px;
        font-size: 12px;
        text-align: left;
      }
    }
  }
}
